# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Model files
*.pkl
*.joblib

# Temporary files
*.tmp

# OS files
.DS_Store
Thumbs.db
